@page "/fetchdata"
@inject HttpClient Http

<h1>Weather forecast</h1>
<p>This component demonstrates fetching data from the server. ( Fake 1 second delay to mock latency )</p>
<div><button @onclick=@RefreshWithDisable>Refresh With Input Disabling</button></div>
<div><button @onclick=@RefreshWithoutDisable>Refresh Without Input Disabling</button></div>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private WeatherForecast[] forecasts;

    protected override async Task OnInitializedAsync()
    {
        await Refresh(false);
    }

    Task RefreshWithDisable() => Refresh(true);
    Task RefreshWithoutDisable() => Refresh(false);

    async Task Refresh(bool WithDisable)
    {
        forecasts = null;
        forecasts = await Http.GetJsonAsync<WeatherForecast[]>("sample-data/weather.json",WithDisable,MockDelay: 1200);

    }
    public class WeatherForecast
    {
        public DateTime Date { get; set; }

        public int TemperatureC { get; set; }

        public string Summary { get; set; }

        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }
}
